<div class="section section__background"></div>

<div class="section section__project">
    <div class="container">
      
          
  
  
          <div class="project__description">
            <h2 class="project__description__title">
                Redesign da nova experiência e-commerce C&A
            </h2>
            <div class="project__description__main">

              <ul class="project__description__sidebar">
                <li class="project__description__sidebar__item">Agency — Huge (LA)</li>
                <li class="project__description__sidebar__item">Client — Scion / Toyota</li>
                <li class="project__description__sidebar__item">Role — Design (Pitch Phase)</li>
                <li class="project__description__sidebar__item">Credit — Steve Hopf (CD)</li>
              </ul>
              <div class="project__description__text">
                <p>
                  2014 — Scion is a subsidiary of parent company Toyota, positioned towards a younger core customer audience and first time car buyers. Initially a mix of both product and lifestyle content, the focus was to create a platform that added simplicity and ease of use to the purchasing process.
                </p>
                <p>
                  Many people had a hand in this large-scale project, and I was fortunate enough to contribute early design concepts for the initial pitch phase of this project alongside the team at Huge in Los Angeles. Although much of this initial concept work cannot be shown, the project further evolved into a digital platform that is representative of Scion’s values and brand.
                </p>
              </div>  
            </div>
          </div>
          <div class="project__list">
            <div class="project__list__picture" *ngFor="let number of [1,2,3]" >
              <img src="assets/images/{{number}}.jpg" alt="">
            </div>
            
            <div class="project__list__description">
              <h3 class="project__list__description__title">
                Without any distractions
              </h3>
              <p class="project__list__description__text">
                The identity is very clear and clean, without any distractions, as is the experience at Swiss Escape. It was inspired by the Swiss Design, and the letter W represents the mountains that surround the place.
              </p>
            </div>
            <div class="project__list__picture">
                <img src="assets/images/4.jpg" alt="">
              </div>
  
      
    </div>
  </div>
  