.icon-sim-util--gg{
  display: inline-block;
  width: 60px;
  height: 60px;
  @include icon('sim-util', 'gg', center center);
}

.icon-like-small{
  display: inline-block;
  width: 15px;
  height: 15px;
  @include icon('sim-util', 'p', center center);
}

.icon-dislike-small{
  display: inline-block;
  width: 15px;
  height: 15px;
  @include icon('nao-util', 'p', bottom center);
}