<div class="section section__bio">
  <div class="container">
    <div class="profile">
      <div class="profile__picture">
        <img src="assets/images/avatar.jpg" alt="">
      </div>
      <div class="profile__infos">
        <ul class="infos__list">
          <li class="infos__list__item"><a href="#">Linkdin</a></li>
          <li class="infos__list__item"><a href="#">Behance</a></li>
          <li class="infos__list__item"><a href="#">Dribble</a></li>
        </ul>
        <ul class="infos__location">
          <li class="infos__location__item">São Paulo, SP</li>
          <li class="infos__location__item infos__location__item--link"><a href="#">oi@rsanti.com</a></li>
          <li class="infos__location__item infos__location__item--link"><a href="">11 9 5878 2581</a></li>
        </ul>
      </div>

    </div>
    <div class="description">
        <h2 class="description__title">
          The designer as a business partner.
        </h2>
        <h3 class="description__subtitle">
            I’m a Brand & Digital Designer from São Paulo/Brazil but currently working in Montreal, Canada.
        </h3>
        <p class="description__text">
            As a self-taught artist, I strongly believe that a designer ought to know a fair share of business, marketing and communications in order to become a valuable asset and partner for his clients. This is why I make sure to always keep my brain busy with new knowledge, technology and skill learning. My love affair with design lies in finding the best possible solution for a project to grow and find success within its market—whether it’s a startup company or a well-established brand. Currently computing as an independent designer, I’ve had the pleasure to work for major international agencies in the last 8 years, such as FCB and Publicis as well as intimate boutique design studios in Ukraine and Canada.
        </p>
    </div>

  </div>
</div>